.Menu {
  position: fixed;
  left: -20em; top: 0;
  bottom: 0;
  z-index: 2;

  width: 20em;
  padding: 1em;

  background: #fff;

  transition: left .4s;
}

.Menu.open {
  left: 0;
}

.Menu-link {
  display: block;
  margin: 1em 0;

  font-size: 1.5em;
}
