.Feature {
  position: absolute;
}

.Feature-thumb {
  cursor: pointer;

  position: absolute;
  left: -1em; top: -.8em;
  z-index: 1;

  width: 2em;
  height: 1.6em;
  padding-top: .5em;

  font-size: 1.5em;

  color: #fefdfb;

  transform: translate(-50%, -50%) scale(0);

  animation-name: appear;
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(0.6, 2.5, 0.6, 0);
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.Feature:nth-of-type(1) .Feature-thumb { animation-delay: .5s; }
.Feature:nth-of-type(2) .Feature-thumb { animation-delay: .7s; }
.Feature:nth-of-type(3) .Feature-thumb { animation-delay: .9s; }
.Feature:nth-of-type(4) .Feature-thumb { animation-delay: 1.1s; }

.Feature-thumb::before {
  content: '';

  position: absolute;
  left: 0; top: 0;
  right: 0; bottom: 0;
  z-index: -1;

  border-style: solid;
  border-width: 0 1em 1.6em 1em;
  border-color: transparent transparent #f12 transparent;
}

.Feature-content {
  position: absolute;
  left: 0; top: 0;
  z-index: 2;

  display: block;
  width: 16em;
  padding: 1em;
  border-radius: .25rem;

  background-color: #fefdfb;

  transform: translate(-50%, -50%) scale(0);

  transition: transform .2s;
}

.Feature:hover .Feature-content {
  transform: translate(-50%, -50%) scale(1);
}

.Feature-title {
  color: #f12;
}

/* Media queries */
@media screen and (max-width: 480px) {
  .Feature-content {
    position: fixed;
    left: 50vw; top: 50vh;
  }
}

/* Appearance animation */
@keyframes appear {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
