.Preview {
  position: relative;

  margin: 4em auto;

  /*background: url(../../media/preview-background.svg) no-repeat center;*/
  background-size: contain;
}

.Preview-soon {
  margin-bottom: .5em;

  font-style: italic;
  color: #f12;
}

.Preview-soon::before {
  content: '\2014 ';
}

.Preview-title {
  margin-top: 0;

  font-size: 2em;
}

.Preview-price {
  position: absolute;
  top: 7rem;

  padding: .5em 1em;

  font-size: 2em;

  color: #fff;
}
.Preview-price::before {
  content: '';

  position: absolute;
  left: 0; top: 0;
  right: 0; bottom: 0;
  z-index: -1;

  background-color: #000;

  transform: skewX(-30deg);
}

.Preview-pants {
  margin: 4em auto 8em;

  text-align: center;

  opacity: 0;

  animation-name: appear;
  animation-duration: .3s;
  animation-delay: 1s;
  animation-timing-function: ease-out;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


.Preview figure {
  position: relative;

  display: inline-block;
}

.Preview-pants img {
  display: block;
  width: 20em;
  margin: auto;
}

/* Animation */
@keyframes appear {
  from {
    opacity: 0;
    transform: scale(1.25);
  }

  to {
    opacity: 1;
    transform: translate(1);
  }
}
