.ProductPage {
  position: fixed;
  left: 0; top: 0;
  right: 0; bottom: 0;
  z-index: 1;

  overflow-x: hidden;
  overflow-y: auto;

  background: #fefdfb;
}

.ProductPage-header {
  padding: 8em 4em 4em;

  text-align: center;
}

.ProductPage-header-content {
  position: relative;
  display: inline-block;
  width: 45vmin;
  height: 60vmin;
}

.ProductPage-body {
  padding: 1em;

  text-align: center;
}

.ProductPage-name {
  font-weight: 100;
  font-size: 3em;
  margin-bottom: 0;
}

.ProductPage-name::after {
  content: '';

  display: block;
  width: 3em;
  height: .2rem;
  margin: .25em auto 0;

  border-radius: .1rem;

  background-color: #f35e68;
}

.ProductPage-price {
  font-size: 1.5em;
  margin: 1em 0;
}

@media all and (max-width: 1080px) {
}

@media all and (min-width: 1081px) {
  .ProductPage-header,
  .ProductPage-body {
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
  }

  .ProductPage-header {
    left: 0;
    width: 60%;
  }

  .ProductPage-body {
    right: 0;
    width: 40%;
  }
}
