.Nav {
  position: fixed;
  left: 0; top: 0; right: 0;
  z-index: 2;

  height: 8em;
  padding: 1em;

  text-align: center;
  font-weight: bold;

  transition-property: height, padding, background-color, box-shadow;
  transition-duration: .4s;
}

.Nav img {
  max-width: none;
  max-height: none;
}

.Nav-menu,
.Nav-logo,
.Nav-bag {
  position: absolute;
  top: 0; bottom: 0;
  padding: 3.5em 1em;

  transition: padding .4s;
}

.Nav-menu {
  left: 0;
}

.Nav-bag {
  right: 0;
}

.Nav-bag-img {
  height: 3em;
  margin: -1em 0 -1em 1em;
}

.Nav-bag-amount {
  position: absolute;
  right: 2.05em; top: calc(50% - .4em);

  width: 1em;
  height: 1em;

  color: #f00;
}

.Nav-bag-amount img {
  height: 1em;
}

.Nav-logo {
  left: 0;
  right: 0;

  width: 8em;
  margin: auto;
}

.Nav-logo img {
  height: 5em;
  margin: -2em;

  transition: height .4s, margin .4s;
}

/* Down */
.Nav.down {
  height: 4em;
  padding: .5em;

  box-shadow: 0 -1em 1em 1em rgba(0, 0, 0, .2);

  background-color: #fff;
}

.Nav.down .Nav-menu,
.Nav.down .Nav-bag {
  padding: 1.5em 1em;
}

.Nav.down .Nav-logo img {
  height: 3em;
  margin: -3em;
}

/* Media queries */
@media screen and (min-width: 481px) {
  .Nav-bag::before {
    content: 'My bag'
  }
}

@media screen and (min-width: 721px) {
  .Nav-menu {
    left: 4em;
  }

  .Nav-bag {
    right: 4em;
  }
}
