.Nav {
  position: absolute;
  left: 0; top: 0; right: 0;

  z-index: 1;
  padding: 2em 0;
}

.Nav img {
  position: relative;
  height: 3em;
}

@media all and (orientation: portrait or ),
all and (max-width: 1080px) {
  .Nav {
    position: relative;
    padding: 0;
  }
}
