.Sales {
  position: relative;
}

.Sales-content {
  padding-top: 6em;
}

.Sales-copy {
  color: rgba(0, 0, 0, 0.5);
}

.Sales-soon {
  font-style: italic;
  color: #f12;
}

.Sales-soon::before {
  content: '\2014 ';
}

.Sales input,
.Sales button {
  margin-bottom: 1em;
}

.Sales input {
  width: 20em;
  margin-right: 2em;
}


@media all and (orientation: portrait or ),
all and (max-width: 1080px) {
  .Sales-content {
      padding-top: 0;
      max-width: 40em;
  }
}
