.Background {
  float: right;

  width: 100vmin;
  height: 100vmin;

  background: url(../../media/photo.jpg) no-repeat -12vmin 50%;
  background-size: cover;

  clip-path: polygon(0 100%, 58vmin 0, 100% 0, 100% 100%);
  shape-outside: polygon(-2vmin 100%, 56vmin 0, 100% 0, 100% 100%);
}

@media all and (orientation: portrait or ),
all and (max-width: 1080px) {
  .Background {
    width: 100vw;
    height: 50vw;

    background-position: center;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 29vmin);
    shape-outside: polygon(0 0, 100% 0, 100% calc(100% + 2em), 0 calc(29vmin + 2em));
  }
}
